@font-face {
  font-family: 'MS Sans Serif';
  src: url('./MSSansSerif.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('./MSSansSerifBold.woff2') format('woff2');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: 'Fixedsys';
  src: url('./Fixedsys.woff2');
  font-display: fallback;
}
